body {
    font-family: 'Courier New', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #000000;
    overflow: hidden;
}

#welcome-form, #chat-room {
    display: none;
}

#welcome-form {
    text-align: center;
    font-family: 'Courier New', monospace;
    padding: 20px;
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#welcome-form input {
    border-radius: 8px;
    font-family: 'Courier New', monospace;

    padding: 8px;
    margin-top: 10px;
    width: calc(100% - 18px); 
}

#welcome-form button {
    font-family: 'Courier New', monospace;
    border-radius: 8px;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;

}

#chat-room {
    opacity: 0;
    text-align: left;
    
    font-family: 'Courier New', monospace;
    padding: 20px;
    margin: 20px auto;
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}


#welcome-form {
    opacity: 1; 
    transition: opacity 550ms ease-in-out;
    display: block; 
}

#welcome-form.hide {
    opacity: 0; 
    transition: opacity 550ms ease-in-out;
}

#chat-room {
    opacity: 0;
    transition: opacity 550ms ease-in-out;
    display: none; 
}

#chat-room.show {
    display: block;
    opacity: 1;
}

#messages {
    border: solid 1px #808080;
    font-family: 'Courier New', monospace;
    background-color: #ebebebd5;
    padding: 10px;
    height: 300px;
    overflow-y: scroll;
    margin-bottom: 10px;
    text-align:  left;

}


#messageInput {
    border-radius: 8px;
    font-family: 'Courier New', monospace;
    padding: 8px;
    width: calc(100% - 18px);
}


#chat-room button {
    border-radius: 8px;
    font-family: 'Courier New', monospace;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}

#enviar {
    border-radius: 8px;
    font-family: 'Courier New', monospace;
    padding: 10px;
    cursor: pointer;
    float: left; 
}

#enviar:hover {
    background-color: #45a049;
}

#sair {
    border-radius: 8px;
    font-family: 'Courier New', monospace;
    padding: 10px;
    cursor: pointer;
    float: right; 
}

#sair:hover {
    background-color: #c00000;
}