body {
    font-family: 'Courier New', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #ffffff;
    overflow: hidden;
}

#welcome-form, #chat-room {
    display: none;
}

#welcome-form {
    text-align: center;
    font-family: 'Courier New', monospace;
    padding: 20px;
    margin: 0 auto;
    width: 100%;
    border: 2px dashed #000000;
    max-width: 400px;
    background-color:transparent;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

#welcome-form input {
    border: none;
    border-bottom: 2px groove  #000;
    font-family: 'Courier New', monospace;
    
    padding: 8px;
    width: calc(100% - 18px);
    background: transparent;
}

#welcome-form button {
    font-family: 'Courier New', monospace;
    border-radius: 8px;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;

}

#chat-room {
    opacity: 0;
    text-align: left;
    border: 2px dashed #000000;
    font-family: 'Courier New', monospace;
    padding: 20px;
    margin: 20px auto;
    width: 100%;
    max-width: 600px;
    background-color:transparent;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}


#welcome-form {
    opacity: 1; 
    transition: opacity 550ms ease-in-out;
    display: block; 
}

#welcome-form.hide {
    opacity: 0; 
    transition: opacity 550ms ease-in-out;
}

#chat-room {
    opacity: 0;
    transition: opacity 550ms ease-in-out;
    display: none; 
}

#chat-room.show {
    display: block;
    opacity: 1;
}

#messages {
    border: 3px double #000000;
    font-family: 'Courier New', monospace;
    background-color: #ffffffd5;
    padding: 10px;
    height: 300px;
    overflow-y: scroll;
    margin-bottom: 10px;
    text-align:  left;

}

#messageInput {
    border: none;
    border-bottom: 2px groove #000;
    font-family: 'Courier New', monospace;
    padding: 8px;
    width: calc(100% - 18px);

    
}


#chat-room button {
    border-radius: 8px;
    font-family: 'Courier New', monospace;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}

#enviar {
    border-radius: 8px;
    font-family: 'Courier New', monospace;
    padding: 10px;
    cursor: pointer;
    float: left; 
}


#sair {
    border-radius: 8px;
    font-family: 'Courier New', monospace;
    padding: 10px;
    cursor: pointer;
    float: right; 
}

.ascii-button-welcome {
    background-color: transparent;
    border: 1px solid transparent;
    padding: 10px;
    cursor: pointer;
    display: inline-block;
}


.ascii-button-welcome pre {
    margin: 0 auto;
    padding: 0;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
}

.ascii-button-welcome:hover pre {
    color: #1957ff; 
}

.ascii-button-enviar {
    background-color: transparent;
    border: 1px solid transparent;
    padding: 10px;
    cursor: pointer;
    display: inline-block;
}


.ascii-button-enviar pre {
    margin: 0 auto;
    padding: 0;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
}

.ascii-button-enviar:hover pre {
    color: #249c00; 
}

.ascii-button-sair {
    background-color: transparent;
    border: 1px solid transparent;
    padding: 10px;
    cursor: pointer;
    display: inline-block;
}


.ascii-button-sair pre {
    margin: 0 auto;
    padding: 0;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
}

.ascii-button-sair:hover pre {
    color: #c20000; 
}


/* Tema Escuro */
.dark-theme {
    background-color: #000000;
    color: #ffffff;
    transition: 0.5s ease-in-out;
}

.dark-theme #welcome-form, .dark-theme #chat-room {
    border-color: #ffffff;
    transition: 0.5s ease-in-out;

}

.dark-theme .ascii-button-welcome pre,
.dark-theme .ascii-button-enviar pre,
.dark-theme .ascii-button-sair pre {
    color: #ffffff;
    transition: 0.5s ease-in-out;

}
